*{
    margin: 0;
    padding: 0;
    overflow: 0;
}

body{
    height: 100vh;
   background-color:blanchedalmond;
}



.NavBar{
    background-color: burlywood;
    padding: 0 3rem;
    min-height: 7rem;
    
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
}

.CounterArea{
    padding-top: 15rem;
    height: 100vh;
}

.BaseCounter {
    margin: 0 2rem;
  display: flex;
  justify-content: space-between;
}

.Button {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    font-size: 7rem;
    font-weight:bold;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    cursor: pointer;
}



#changeTheme{
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

#resetCounter{
    margin: 1rem auto;
    width: 15rem;
    height: 7rem;
    border-radius: 50%;
    font-size: 4rem;
}

#counterText{
    font-size: 10rem;
    text-align: center;
    margin: 0;
}

